extends ../layout
block content
	artcle
		h2= title
		= desc
		if author
			div= 'by ' + author
	ul
		li
			a(href='/topic/add') add
		if dRid
			li
				a(href=`/topic/${dRid}/edit`) edit
		if dRid
			li
				a(href=`/topic/${dRid}/delete`) delete