doctype html
html
	head
		meta(charset="utf-8")
		title

	body
		h1
			a(href='/topic') Server Side JavaScript
		ul
			each topic in topics
				li
					- rid = encodeURIComponent(topic['@rid'])
					a(href=`/topic/${rid}`)= topic.title
		artcle
			h1= `Delete? ${topicInfo.title}`
			form(action=`/topic/${encodeURIComponent(topicInfo['@rid'])}/delete` method='post')
				p
					input(type='submit' value='Yes')
				a(href=`/topic/${encodeURIComponent(topicInfo['@rid'])}`) No