doctype html
html
	head
		meta(charset="utf-8")
		title

	body
		h1
			a(href='/topic') Server Side JavaScript
		ul
			each val in fileArr
				li
					a(href=`/topic/${val}`)= val
		artcle
			h2= title
			= desc
		p
			a(href='/topic_new') new